* {
  box-sizing: border-box;
}

body {
  --gray: #292935;
  --dark-gray: #22222e;
  --yellow: #ffc905;
}

.wrapper {
  max-width: 1440px;
  font-family: 'Roboto', serif;
  padding-right: 30px;
  padding-left: 30px;
  margin: 0 auto;
}

.header {
  background-color: var(--gray);
}

.header__wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 90px;
}

.navigation {
  font-size: 20px;
}

.navigation__list {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

.navigation__link {
  position: relative;
  padding-left: 16px;
  padding-right: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

.navigation__link::after {
  display: block;
  content: '';
  position: absolute;
  bottom: -15px;
  left: 16px;
  width: calc(100% - 32px);
  height: 3px;
  background-color: var(--yellow);
  opacity: 0;
}

.navigation__link:hover::after {
  opacity: 1;
}

.about {}

.about__wrapper {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-around;
}

.about__img {
  width: 300px;
  border-radius: 50%;
}

.about__info {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.main-title {
  margin: 0;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  word-spacing: 3px;
}

.main-title__divider {
  width: 140px;
  height: 3px;
  background-color: var(--yellow);
}

.main-title__subtitle {
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
}